/minecraft/saves
/minecraft/saves/perfect
minecraft/saves/perfect/stats/df3458ac-b46c-3568-bec3-a5171a55770d.json
minecraft/saves/perfect/region/r.0.0.mca
minecraft/saves/perfect/region/r.0.-2.mca
minecraft/saves/perfect/region/r.0.-1.mca
minecraft/saves/perfect/region/r.-1.0.mca
minecraft/saves/perfect/region/r.-1.-2.mca
minecraft/saves/perfect/region/r.-1.-1.mca
minecraft/saves/perfect/poi/r.0.-2.mca
minecraft/saves/perfect/poi/r.0.-1.mca
minecraft/saves/perfect/poi/r.-1.-2.mca
minecraft/saves/perfect/playerdata/df3458ac-b46c-3568-bec3-a5171a55770d.dat_old
minecraft/saves/perfect/playerdata/df3458ac-b46c-3568-bec3-a5171a55770d.dat
minecraft/saves/perfect/level.dat_old
minecraft/saves/perfect/level.dat
minecraft/saves/perfect/entities/r.0.0.mca
minecraft/saves/perfect/entities/r.0.-2.mca
minecraft/saves/perfect/entities/r.0.-1.mca
minecraft/saves/perfect/entities/r.-1.0.mca
minecraft/saves/perfect/entities/r.-1.-2.mca
minecraft/saves/perfect/entities/r.-1.-1.mca
minecraft/saves/perfect/dimensions/twilightforest/twilight_forest/data/sandstorms.dat
minecraft/saves/perfect/dimensions/twilightforest/twilight_forest/data/raids.dat
minecraft/saves/perfect/dimensions/aether/the_aether/data/sandstorms.dat
minecraft/saves/perfect/dimensions/aether/the_aether/data/raids.dat
minecraft/saves/perfect/DIM1/data/sandstorms.dat
minecraft/saves/perfect/DIM1/data/raids_end.dat
minecraft/saves/perfect/DIM-1/data/sandstorms.dat
minecraft/saves/perfect/DIM-1/data/raids.dat
minecraft/saves/perfect/data/waystones.dat
minecraft/saves/perfect/data/scoreboard.dat
minecraft/saves/perfect/data/sandstorms.dat
minecraft/saves/perfect/data/random_sequences.dat
minecraft/saves/perfect/data/raids.dat
minecraft/saves/perfect/advancements/df3458ac-b46c-3568-bec3-a5171a55770d.json
minecraft/saves/perfect/stats/df3458ac-b46c-3568-bec3-a5171a55770d.json
minecraft/saves/perfect/region/r.0.0.mca
minecraft/saves/perfect/region/r.0.-2.mca
minecraft/saves/perfect/region/r.0.-1.mca
minecraft/saves/perfect/region/r.-1.0.mca
minecraft/saves/perfect/region/r.-1.-2.mca
minecraft/saves/perfect/region/r.-1.-1.mca
minecraft/saves/perfect/poi/r.0.-2.mca
minecraft/saves/perfect/poi/r.0.-1.mca
minecraft/saves/perfect/poi/r.-1.-2.mca
minecraft/saves/perfect/playerdata/df3458ac-b46c-3568-bec3-a5171a55770d.dat_old
minecraft/saves/perfect/playerdata/df3458ac-b46c-3568-bec3-a5171a55770d.dat
minecraft/saves/perfect/level.dat_old
minecraft/saves/perfect/level.dat
minecraft/saves/perfect/entities/r.0.0.mca
minecraft/saves/perfect/entities/r.0.-2.mca
minecraft/saves/perfect/entities/r.0.-1.mca
minecraft/saves/perfect/entities/r.-1.0.mca
minecraft/saves/perfect/entities/r.-1.-2.mca
minecraft/saves/perfect/entities/r.-1.-1.mca
minecraft/saves/perfect/dimensions/twilightforest/twilight_forest/data/sandstorms.dat
minecraft/saves/perfect/dimensions/twilightforest/twilight_forest/data/raids.dat
minecraft/saves/perfect/dimensions/aether/the_aether/data/sandstorms.dat
minecraft/saves/perfect/dimensions/aether/the_aether/data/raids.dat
minecraft/saves/perfect/DIM1/data/sandstorms.dat
minecraft/saves/perfect/DIM1/data/raids_end.dat
minecraft/saves/perfect/DIM-1/data/sandstorms.dat
minecraft/saves/perfect/DIM-1/data/raids.dat
minecraft/saves/perfect/data/waystones.dat
minecraft/saves/perfect/data/scoreboard.dat
minecraft/saves/perfect/data/sandstorms.dat
minecraft/saves/perfect/data/random_sequences.dat
minecraft/saves/perfect/data/raids.dat
minecraft/saves/perfect/advancements/df3458ac-b46c-3568-bec3-a5171a55770d.json
